@media screen and (min-width: 640px) {
  .addLink {
    min-width: 400px;
  }
}
@media screen and (max-width: 640px) {
  .addLink {
    min-width: 300px;
  }
}

.addLink {
  padding: 0 24px 24px 24px;
}

.buttonContainer {
  margin-top: 24px;
}

.generateButton {
  width: 100px;
  margin-right: 16px;
}

.cancelButton {
  margin-right: 16px;
}