.appContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.contentContainer {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.loginModalContainer {
  min-width: 400px;

  @media (max-width: 400px) {
    min-width: 240px;
    
  }
  text-align: center;
  padding: 24px;
  h1 {
    margin-top: 0;
  }
  button {
    margin: 18px 0;
  }
}